@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%
}

body {
  margin: 0;
  font-family: Lato, monospace;
}

@layer components {
  .h2-primary {
    @apply text-[1.5em] my-[0.83em] mx-0 font-bold;
  }

  .h3-primary {
    @apply text-[1.17em] my-[1em] mx-0 font-bold;
  }

  .h4-primary {
    @apply my-[1.33em] mx-0 font-bold;
  }

  .p-primary {
    @apply my-[1em] mx-0;
  }
}
